@charset "utf-8";
body {
  overflow: hidden;
}

.container {
}

.main-content {
  /* display: flex;
  flex-direction: column; */
  align-items: center;
  /* justify-content: flex-start; */
  /* margin-top: auto; */
  box-sizing: border-box;
}

.welcome-text {
  /* margin-bottom: 6rem; */
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  margin-left: 0.5rem;
}

.logo {
  height: 1.3rem;
  margin-bottom: 2rem;
}

.welcome-text h1 {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.welcome-text p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.terms-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.terms-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.terms-item-start {
  display: flex;
  align-items: center;
}

.terms-item-end {
  width: 24px;
  height: 24px;
  background: url("../_img/arrow_link.png") no-repeat center;
  background-size: cover;
  color: #9ca3af;
  font-size: 1.125rem;
}

.terms-item-start .item-text-container p {
  font-size: 0.75rem;
  color: #9ca3af;
  margin-top: 0.25rem;
  line-height: 1.25;
}

.divider {
  border: none;
  border-top: 1px solid #e5e7eb;
  margin: 0.5rem 0;
}

.next-button {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  background-color: #d1d5db;
  border: none;
  border-radius: 9999px;
  transition: background-color 0.2s ease-in-out;
  cursor: not-allowed;
}

.next-button:not([disabled]) {
  background-color: #015bab;
  cursor: pointer;
}

/* 커스텀 체크박스 스타일 */
.custom-checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  margin: 0;
  background: url("../_img/ico_checkbox.png") no-repeat center;
  background-size: cover;
  border: 1.5px solid #e5e5e5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
  border-color: #015bab;
  background-color: #015bab;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: url("../_img/ico_checkbox_on.png") no-repeat center;
  background-size: cover;
}

.custom-checkbox label {
  padding-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.custom-checkbox .bold-label {
  font-size: 1.2rem;
  font-weight: bold;
}

.required-text {
  color: #015bab;
  font-weight: bold;
  margin-left: 0.25rem;
}

.optional-text {
  color: #9ca3af;
  font-weight: normal;
  margin-left: 0.25rem;
}

/* 마지막 체크박스 스타일 수정 */
.terms-item-start.last-item {
  flex-direction: column;
  align-items: flex-start;
}

.terms-item-start.last-item .main-text {
  display: flex;
  align-items: flex-start;
}

.terms-item-start.last-item p {
  font-size: 0.75rem;
  color: #9ca3af;
  margin-top: 0.25rem;
  line-height: 1.25;
  margin-left: 2.25rem; /* 체크박스와 간격 맞추기 */
}

.footer {
  margin: 0 -32px;
  padding: 24px 32px 0;
  background-color: #fff;
}
