@charset "utf-8";
body {
  overflow: hidden;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: auto;
  min-height: 0;
  box-sizing: border-box;
  margin-top: 44px;
  padding-bottom: 10rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.welcome-text {
  margin-bottom: 3rem;
}

.welcome-text h1 {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.welcome-text p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  margin-left: 0.5rem;
}

.logo {
  height: 3rem;
  margin-bottom: 2rem;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: #fff;
  /* box-shadow: 0 -4px 6px -1px rgb(0 0 0 / 0.1); */
  height: auto;
  padding: 1rem;
}

.next-button {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  background-color: #015bab;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}
