@charset "utf-8";
html,
body {
  overflow: hidden;
}

.header {
  margin-top: 1rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.welcome-text {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-title {
  font-size: 1.25rem;
  font-weight: bold;
  color: #1f2937;
  margin-left: 0.5rem;
}

.logo {
  height: 1.3rem;
  margin-bottom: 2rem;
}

.welcome-text h1 {
  line-height: 1.1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.welcome-text p {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #4b5563;
}

.login-form {
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  position: relative;
}

.input-group label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  font-size: 0.875rem;
  color: #9ca3af;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.input-group input {
  width: 100%;
  padding: 1.25rem 1rem 0.4rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  box-sizing: border-box;
  font-size: 1rem;
  outline: none;
}

.input-group input:focus {
  border-color: #015bab;
}

.input-group input:not(:placeholder-shown) + label,
.input-group input:focus + label {
  top: 0.25rem;
  font-size: 0.625rem;
}

.regist_unit {
  margin-top: -0.4rem;
}

[class^="mssg_error"] {
  position: relative;
  padding-left: 19px;
  margin-top: -1rem;
  font-size: 0.9rem;
  text-align: left;
  color: #ff6d64;
}

[class^="mssg_error"]:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 4px;
  width: 16px;
  height: 16px;
  background: url(../img/ico_error.png) no-repeat center / 100% auto;
}

[class^="mssg_error"].active {
  visibility: visible;
  line-height: 20px;
  font-size: 13px;
}

.link-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.link-group a {
  font-size: 0.875rem;
  color: #4b5563;
  text-decoration: none;
}

.link-group span {
  color: #e5e7eb;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 32px;
  padding: 32px 0;
  background-color: #fff;
}

.login-button {
  width: 100%;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  font-size: 1.125rem;
  background-color: #015bab;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
}

.select-btn {
  position: relative;
  padding: 1rem 1rem 1rem 2.4rem;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  line-height: 1.2;
  font-size: 1.1rem;
  text-align: left;
  color: #a6a6a6;
}
.select-btn.active {
  color: #1f2937;
}

.select-btn::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 0.8rem;
  background: url(../img/location-pin.png) no-repeat center;
  background-size: cover;
  margin-top: -9px;
}
.select-btn::after {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 0.8rem;
  background: url(../img/arrow_btm.png) no-repeat center;
  background-size: cover;
  margin-top: -9px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.custom-checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  margin: 0;
  background: url("../img/ico_checkbox.png") no-repeat center;
  background-size: cover;
  border: 1.5px solid #e5e5e5;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.custom-checkbox input[type="checkbox"]:checked {
  border-color: #015bab;
  background-color: #015bab;
}

.custom-checkbox input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background: url("../img/ico_checkbox_on.png") no-repeat center;
  background-size: cover;
}

.custom-checkbox label {
  padding-left: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.custom-checkbox .bold-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #4f4f4f;
}

.required-text {
  color: #015bab;
  font-weight: bold;
  margin-left: 0.25rem;
}

.optional-text {
  color: #9ca3af;
  font-weight: normal;
  margin-left: 0.25rem;
}
