/*********************************************************************************************************
  LAYER POPUP
*********************************************************************************************************/
[class^="layer_wrap"] {
  display: none;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 200;
}

[class^="layer_wrap"] .layer_mask {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.4;
}

[class^="layer_wrap"] [class^="layer_box"] {
  overflow: hidden;
  position: fixed;
  left: 50%;
  top: 52%;
  box-sizing: border-box;
  width: calc(100% - 48px);
  max-width: 327px;
  padding: 32px 0 0;
  border-radius: 16px;
  background-color: #fff;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 300ms ease, opacity 300ms ease;
}

[class^="layer_wrap"] [class^="layer_box"].active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_header {
  padding: 24px 24px 16px;
  margin: -32px 0 0;
  background-color: #fff;
  border-radius: 16px 16px 0 0;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_header .layer_title {
  line-height: 28px;
  font-size: 18px;
  font-weight: 500;
  color: #111;
  text-align: center;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_header .desc {
  display: block;
  margin-top: 4px;
  text-align: center;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_container {
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  max-height: calc(100vh - 200px);
  height: 100%;
  box-sizing: border-box;
  padding: 0 24px;
  -webkit-overflow-scrolling: touch;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_contents {
  padding: 0 0 16px;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_contents img {
  width: 100%;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  .layer_contents
  [class^="guide_cmmt_box"]:last-child {
  padding-bottom: 8px;
}

[class^="layer_wrap"] [class^="layer_box"] [class^="progress_bar_wrap"] {
  padding: 8px 0 16px;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  [class^="progress_bar_wrap"]
  .graph_bar01 {
  background: #f8f8f8;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  [class^="progress_bar_wrap"]
  .graph_bar02 {
  width: 0;
  transition: 0.3s;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  .layer_contents
  [class^="agree_wrap"] {
  margin: 24px 0 12px;
}

[class^="layer_wrap"] [class^="layer_box"] [class^="btn_layer_wrap"] {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: -1px;
  bottom: 0;
  right: -1px;
  padding: 16px 24px;
  background: url(../_img/bg_btn_group.png) repeat-x left top / auto 100%;
  border-radius: 0 0 16px 16px;
  z-index: 50;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  [class^="btn_layer_wrap"]
  > .btn_col {
  box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 0 9px;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  [class^="btn_layer_wrap"]
  > .btn_col:first-child {
  margin: 0;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  [class^="btn_layer_wrap"]
  > .btn_col
  button {
  box-sizing: border-box;
  width: 100%;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  .btn_layer_wrap02
  .btn_col:first-child {
  width: 38%;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  .btn_layer_wrap02
  .btn_col:last-child {
  width: 62%;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_home {
  overflow: hidden;
  position: absolute;
  left: 24px;
  top: 14px;
  width: 22px;
  height: 22px;
  background: url(../_img/home.svg) no-repeat center / 100% auto;
  z-index: 60;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_close {
  overflow: hidden;
  position: absolute;
  right: 24px;
  top: 30px;
  width: 24px;
  height: 24px;
  background: url(../_img/ico_layer_close.png) no-repeat center / 100% auto;
  z-index: 60;
}

[class^="layer_wrap"].full [class^="layer_box"] {
  left: auto;
  right: 0;
  top: 0;
  width: 100%;
  max-width: initial;
  height: 100%;
  padding: 0;
  border-radius: 0;
  transform: translate(100%, 0);
  opacity: 0.9;
  transition: transform 500ms ease, opacity 1ms ease;
}

[class^="layer_wrap"].full [class^="layer_box"].active {
  transform: translate(0, 0);
  opacity: 1;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_header {
  padding: 9px 24px;
  margin: 0;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_header .layer_title {
  line-height: 26px;
  font-size: 16px;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_header .logo img {
  display: inline-block;
  width: 125px;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_container {
  padding: 24px 24px 120px;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_contents {
  padding: 0 0 40px;
}

[class^="layer_wrap"].full [class^="layer_box"] .layer_close {
  top: 11px;
}

/* layer - alert */
[class^="layer_wrap"] [class^="layer_box"] .layer_commt {
  display: block;
  margin: 12px 0 0;
  color: #666;
  text-align: center;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_commt:first-child {
  margin-top: 0;
}

[class^="layer_wrap"] [class^="layer_box"] .layer_commt [class^="commt"] {
  display: block;
  margin: 12px 0 0;
  line-height: 26px;
  font-size: 16px;
  font-weight: 500;
  color: #111;
  word-break: keep-all;
}

[class^="layer_wrap"]
  [class^="layer_box"]
  .layer_commt
  [class^="commt"]:first-child {
  margin-top: 0;
}

/* Full 팝업 내부 팝업 */
[class^="layer_wrap"].full
  [class^="layer_wrap"].dialog_up
  [class^="layer_box"]
  .layer_header {
  margin: -32px 0 0;
}

[class^="layer_wrap"].full
  [class^="layer_wrap"].dialog_up
  [class^="layer_box"]
  .layer_container {
  padding: 0 24px;
}
